/* line 4, src-TT/Sass/Estilo.scss */
.b, .texto > h1, .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/* line 9, src-TT/Sass/Estilo.scss */
.b {
  background-color: #1A237E;
  height: 4em;
  color: #fff;
  font-size: 1.2em; }

/* line 15, src-TT/Sass/Estilo.scss */
.texto > h1 {
  color: #006064; }

/* line 18, src-TT/Sass/Estilo.scss */
.select {
  padding-bottom: 2em; }

/* line 21, src-TT/Sass/Estilo.scss */
.icono {
  display: inline-block;
  color: green;
  font-size: 5em; }
